.userinfo-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.userinfo-ul li {
  margin: 0 10px;
}
.userinfo-ul li a {
  text-decoration: none;
  padding: 7px 15px;
  color: #fff;
}
#myBag a {
  margin: 0;
  padding: 0;
}
#myBag a button {
  color: #94d321;
  font-weight: 600;
  background-color: transparent;
}

#myBag a button span {
  color: #94d321;
}
